*{
    margin: 0%;
    padding: 0%;
    
    
}

.a {
    border: 5px;
    border-style:double ; 
    border-color:white ;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin: 1%;
    padding: 2%;
    text-align: start;
    background-color: blue; 
    font-size: xx-large;
    color: white;
    
}




.b{
    margin: 1%;
    background-color:blue;
    color: white;
}

.b video{
 margin: 1%;
width: 40%;
height: 30%;
float: left;
}

.c h1{
   
    margin: 2%;
    margin-left: 40%;
    color: blue;
    text-align: center;
}





.c h2{
    
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.c h3{
    
    text-align: center;
    color: blue;
    
}




.insert1 a{
 
    color:blue;
    text-decoration: none;
    font-size: 25px;
    margin-left: 15%;

    
}


.insert1 a:hover{ 
   
    
    color:green;
    text-decoration: underline;
    text-decoration-color:rgb(34, 219, 68) ;
    
}


.d{
margin: 1%;
border: 10px;
border-style:double;
border-color: blue;
border-bottom-right-radius:50px ;
border-bottom-left-radius: 50px;

}



.d h1{
margin-top: 2%;
color: blue;
text-align: center;
   
  
}


.d h2{
    
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.d h3{
    
    text-align: center;
    color: blue;
    
}












